body {
    font-family: Arial, sans-serif;
    background-color: #333;
    /* Changed this line */
    color: #fff;
}





@keyframes sticky-parallax-header-move-and-size {
    from {
        background-position: 50% 0;
        height: calc(100vh - 20px);

        background-color: #555;
        /* Changed this line */
    }

    to {
        background-position: 50% 100%;
        height: 9vh;

        background-color: #5559;
        /* Changed this line */
    }
}


@keyframes sticky-parallax-image {
    from {


        width: 100%;
        flex: 3;
    }

    to {
        width: 0%;
        flex: 1;
    }
}

@keyframes sticky-parallax-opacity {
    from {

        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes sticky-parallax-apear {
    from {

        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@keyframes sticky-parallax-positionTitle {
    from {

        margin: 0;
        position: relative;
    }

    to {
        margin: 10px;
        position: relative;

    }
}


@keyframes sticky-parallax-textContent {
    from {

        margin: 0;
        position: relative;
        left: 5vh;

    }

    to {
        margin: 10px;
        position: relative;
        left: 0vh;

    }
}


.see-more{
    position: absolute;
    width: 80px;
    height: 10px;
    bottom: 15px;
    right: 50%;

    background-color: #333;
    /* Changed this line */

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s;

    animation: sticky-parallax-opacity linear forwards;
    animation-timeline: scroll(root);

    animation-range: 0vh 90vh;
}



body::-webkit-scrollbar {
    display: none;
}

.header h1 {

    margin: 10px
}

.header {
    text-align: center;
    background-color: #555;
    /* Changed this line */
    color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    width: calc(100vw - 20px);
    left: 10px;

    height: calc(100vh - 20px);
    position: fixed;
    top: 10px;
    overflow: hidden;
    animation: sticky-parallax-header-move-and-size linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 90vh;

    backdrop-filter: blur(10px);

    z-index: 100;




}

.fixed-header {
    background-color: #5559;
    /* Changed this line */

    backdrop-filter: blur(10px);


    position: fixed;
    top: 10px;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;

    width: calc(100vw - 20px);
    left: 10px;
    height: 64px;
}

.fixed-header-content {
    flex: 2 !important;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    position: relative;
    left: 0;
}

svg {
    pointer-events: none;
}

.header-content .desc,
.header-content>.navigation {

    animation: sticky-parallax-opacity linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0vh 40vh;


}

.fixed-header>div {
    flex: 1;

}


.header-content {
    z-index: 10;
    position: relative;
    left: 5vh;
    /* Changed this line */
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    animation: sticky-parallax-textContent linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0vh 90vh;

}

.header-content>.navigation {
    margin-bottom: 20px;
}

.header-image>.navigation>a {
    margin: 0 !important;
    border-radius: 0 !important;


    padding: 0% !important;
    height: 9vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header .header-image>.navigation {
    animation: sticky-parallax-apear linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0vh 90vh;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.navigation>a {
    flex: 1;
    margin: 10px;
    width: 70%;
    color: #fff;
    text-decoration: none;
    padding: 35px;
    border-radius: 25px;
    transition: background-color 0.5s;
    background-color: #333;
    /* Changed this line */

}

.navigation>a:hover {
    background-color: #222;
    /* Changed this line */

}

.header .header-image {
    flex: 3;
    position: relative;
    z-index: 0;
    height: 100%;
    object-fit: cover;


    animation: sticky-parallax-image linear forwards;
    animation-timeline: scroll(root);

    animation-range: 0vh 90vh;

}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    filter: brightness(0.5);

}

.rightTriangle {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;

}

.trapezoid {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 35px;
    height: 100%;
    pointer-events: none;

}

.header-text .trapezoid {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -1px;
    height: 100%;
    pointer-events: none;
    z-index: -1;

    backdrop-filter: blur(10px);

}

.projects {
    padding-top: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;

}

.header-image .navigation {
    flex-direction: row;
}



.content {
    margin: 50px;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: #555;
    /* Changed this line */
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
}


form input,
form textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}



h1,
h2 {
    color: #fff;
}

.header h1,
.header h2 {
    color: #fff;
}

nav {

    padding: 10px;
    border-radius: 5px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.5s;
    background-color: #333;
    /* Changed this line */
}

nav a:hover {
    background-color: #222;
    /* Changed this line */
}

.project {

    height: auto;
    display: flex;
    margin: 10px;
    max-height: 60vh;
    border-radius: 30px;
    overflow: hidden;
    background-color: #555;
}

.project>div {
    flex: 1;
}

.project-image {
    width: 100%;
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

}

.project-image img {
    width: 100%;

    align-self: center;

    object-fit: cover;

}
html {
    scroll-behavior: smooth;
  }
.project .navigation {
    flex-direction: row;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.left {

    text-align: right;
}

.navigation {
    text-align: center;
}

.left .rightTriangle {
    right: -1px;
    left: auto;
}

.content {
    margin-top: 12vh;
}

.form {
    display: flex;
}

.form .input {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#message {
    height: 35vh;
}

form input[type="submit"] {
    background-color: #333;
    /* Changed this line */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    width: 30%;
    margin-left: auto;
}

form input[type="submit"]:hover {
    background-color: #111;
    /* Changed this line */
}

.header.desktop-only .icon {
    top: 0px;
}

.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #333;
    /* Changed this line */
    margin: 10px;
    padding: 5px;
    transition: background-color 0.5s;
    margin-top: 2px;
    margin-left: 3px;
}

.header-image {
    position: relative;
}

.movile-only {
    display: none;
}


@media (max-width: 768px) {



    .movile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }

    .projects {
        padding-top: 20vh;
    }


    .fixed-header h1 {
        font-size: 1.3em;
    }

    .fixed-header {
        flex-direction: column;
        height: auto;
    }

    .fixed-header svg {
        display: none;
    }

    .fixed-header-content {
        padding: 0px;
    }

    .fixed-header .navigation a {

        margin: 15px !important;
        border-radius: 10px !important;
    }

    .content {
        margin-top: 20vh !important;
        margin: 10px;
    }

    form input[type="submit"] {
        width: 100%;
    }

    .project {
        flex-direction: column;
        position: relative;
        text-align: center;
    }
    .form {
        flex-direction: column;
    }
    
    .project-image {
        position: absolute;
        opacity: .3;
        bottom: 0;
    }
    .project-content {
        padding: 10px;
        position: relative;
        z-index: 1;
        border-radius: 30px;
        margin: 10px;

    }
    .rightTriangle {
        display: none;

    }
}


@media (max-width: 500px) {







    .navigation>a {
        padding: 10px;

    }


}

nav {
    padding: 0 !important;
}